.fix-icon {
  position: absolute;
  padding-bottom: 5px;
}

#mobile {
  display: none !important;
}

@media screen and (max-width: 769px) {
  #mobile {
    display: block !important;
  }

  #web {
    display: none !important;
  }
}