.platform-fix {
    left: 0;
    margin: 15px 0px 15px 0px;
    width: 170px;
}

.plat-m{
    display: flex;
    margin: auto;
    padding-top:15px;
    position:fixed;
    right: 0;
}

.fix-search {
    align-items: center;
    display: flex;
    justify-content: center;
}

.icon-button{
    width: 25px;
}

.profile-img{
    float: right;
    width: 70px;
    margin-left: 10px;
    margin-right: -20px;
}

.profile-name{
    display: flex;
    align-items: center;
    float: left;
}

