#progress {
    padding-top: 3%;
}

.progress-overview {
    background-color: #1A2D7D;
    width: 29vw;
    height: 100%;
    border-radius: 12px;
    float: left;
    display: flex;
    position: relative;
    flex-direction: column;
}

.percent-symbol {
    font-size: 1rem;
    transition: 0.5s;
}

.progress-overview-m {
    background-color: #1A2D7D;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 60px;
    width: 100%;
}

.progress-text {
    font-family: Gotham-Medium;
    margin-top: 30px;
    text-align: center;
    color: rgb(221, 221, 221);
    font-size: 2rem;
}

.m-text {
    font-size: 20px;
}

.progress-percent {
    position: relative;
    border-radius: 50%;
    z-index: 1000;
    margin: 20px auto 25px auto;
}

.percent-text {
    align-items: center;
    border-radius: 50%;
    color: white;
    display: flex;
    font-family:Gilroy-Extrabold ;
    font-size: 2.5rem;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.5s;
    width: 100%;
}

.progress-overview:hover .progress-percent .percent-text {
    font-size: 3rem;
}
.progress-overview:hover .progress-percent .percent-text .percent-symbol{
    font-size: 1.5rem;
}
.completed-box {
    height: 120px;
    width: 80%;
    margin: 0 auto 80px auto;
    border-radius: 15px;
    background-color: rgba(190, 190, 190, 0.226);
}

.completed-box-m {
    height: 80px;
    width: 80%;
    margin: 0 auto auto;
    border-radius: 15px;
    background-color: rgba(190, 190, 190, 0.226);
}

.completed {
    font-family: Gotham-Light;
    color: #FCFDFD;
    font-weight: bold;
    font-size: 0.8rem;
}

.completed::before {
    background-color: #FED200;
    border-radius: 5px;
    content: '';
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    width: 12px;
}

.left-to-go {
    color: #FCFDFD;
    font-family: Gotham-Light;
    font-size: 0.8rem;
    font-weight: bold;
}

.left-to-go::before {
    background-color: #FF794F;
    border-radius: 5px;
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.completed-content {
    float: left;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.progress-circle {
    position: relative;
    width: 178px;
    height: 178px;
    z-index: 1000;
    transform: rotate(-90deg);
}

.progress-circle-m {
    position: relative;
    width: 160px;
    height: 160px;
    z-index: 1000;
    transform: rotate(-90deg);
}

.progress-circle circle,
.progress-circle-m circle {
    fill: none;
    height: 100%;
    stroke-linecap: round;
    stroke-width: 15;
    stroke: #FF794F;
    transform: translate(10px, 10px);
    transition: 0.5s;
    width: 100%;
}

.progress-overview:hover .progress-percent .progress-circle circle {
    stroke-width: 17;
}

.progress-circle circle:nth-child(2),
.progress-circle-m circle:nth-child(2) {
    stroke-dasharray: 500;
    stroke-dashoffset: calc(500 - (500*40)/100);
    stroke: #FED200;
}


.left-content {
    align-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.hours {
    font-family:Gilroy-Light ;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    font-weight: 900;
}

.hours-m {
    font-family:Gilroy-Light ;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 900;
}

.left {
    font-family: Gotham-Light;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.column-progress {
    display: flex;
    flex-direction: column;
}

.row-progress {
    display: flex;
    justify-content: space-between;
}

.total {
    color: #B4B2C6;
    font-weight: bold;
    width: 20px;
}

.active-text {
    color: white;
}

.mini-card{
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    font-family: Gotham-Medium;
    font-size: 1rem;
    height: 75px;
    justify-content: space-around;
    transition: 0.5s;
    width: 12rem;
}
.number-hour{
    color: #192452;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 5px;
}

.number-hour-m{
    color: #192452;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 5px;
}

.mini-card:hover{
    box-shadow: 5px 10px 15px #d5d5db;
    transform: translateY(-5px);
}


.mini-card-m {
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 10px 15px #d5d5db;
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-around;
    width: 161px;
}

.active-card {
    background-color: #1884FF;
    box-shadow: 0px 5px 10px #085fc182;
}

.footer {
    margin-top: 30px;
    background: url('https://i.ibb.co/3MPv6Xr/Oval-Oval-Oval-Mask-3x.png') no-repeat;
    background-size: cover;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.footer-text {
    color: white;
    font-weight: bold;
}
.footer-text-m {
    font-family: Gotham-Medium;
    color: white;
    font-weight: bold;
}
.footer-confirm {
    padding-left: 5px;
    color: white;
    font-weight: normal;
}
.footer-confirm-m {
    padding-left: 5px;
    color: white;
    font-weight: normal;
}

.footer-m {
    margin-top: 30px;
    background: url('https://i.ibb.co/3MPv6Xr/Oval-Oval-Oval-Mask-3x.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    text-align: center;
}